.cta{
    margin: auto;
    display: column;
    width:60%;
}
.intro-text .main-h1{
    font-size: 45px;
}

.cta-button{
    display: flex;
    text-decoration: none;
    font-size: 1.6vh;
    align-items:center;
}
.button-text{
    flex:2;
    text-align: center;
}
.icon{
    flex:1;
    width: 3vh;
}
.cta-buttons{
    display: flex;
    width: 45%;
    margin: auto;
    text-decoration: none;
    border:0.16em solid #00b4d8;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#023e8a;
    text-align:center;
    align-items:center;
    transition: all 1.25s;
    text-decoration: none;
}
.cta-buttons:hover{
color:#DDDDDD;
border-color:#DDDDDD;
}
.cta-buttons:active{
color:#BBBBBB;
border-color:#BBBBBB;
}
@media all and (max-width:50em){
.cta-buttons{
margin:0.4em auto;
}
}
/* */
@media screen and (max-width:1024px){
    .cta-button{
        flex-direction: column;
        align-items:left;
    }
    .icon{
        margin-left:0;
        padding-left:0;
    }
}