@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body{
    margin:0;
    background: white;
}
p {
    margin:2px;
}
.container{

}
hr.solid {
  border-top: .01px solid #bbb;
  width: 80%;
}

.video-container {
z-index: -100;
width:100%;
height: 15vw;
overflow:hidden;
position:absolute;
top:0;
left:0;
/*border: 3px solid red;*/
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#video-bg{
  width:100%;

}
nav{
    /*border: 1px solid green;*/
}

.nav-box{
    display: flex;
    font-family: 'Ropa Sans', sans-serif;
    margin-top: 0;
    height: 10vw;
	align-items:center;
    width:80%;
    /*border: 1px solid white;*/
    padding: 0;
}

.top2{
    padding: 0;
    width:100%;
    margin-left:-4px;
}

.Presentation{
    flex:2;
    display: flex;
    font-size: 2vw;
    color: white;
    margin:auto;
    width:100%;
    align-items:center;
    /*border: 1px solid white;*/
}

.Presentation .name{
    flex:2;
    /*border: 1px solid white;*/
    text-align: right;
    font-size: 1.5em;
}

.image-profile{
    flex: 1;
    margin:0;
    padding:0;
    height: auto;
    /*border: 1px solid white;*/
}
.other-element{
    flex:1;
}

.face{
    width:7vw;
    min-width: 50px;
    margin:0;
    padding:0;
    /*border: 1px solid white;*/
}

.lastname{
     color: #fff;
     text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}

.menu{
    margin:0;
    padding:0;
    height: auto;
    width: 100%;
}
.elements{
    flex:1
}

.nav-links{
    margin:auto;
    display: flex;
    width: 70%;
	justify-content: space-around;
	list-style: none;
	font-size: 1vw;
	padding-right: 0;
	background-color: rgb(3, 80, 111,.3);
}
.nav-link{
    text-decoration: none;
    flex:1;
    color: white;
    align-items:center;
}


.demo-problem, .demo-solution {
  font-size: 1em;
}

.demo-solution--flexbox {
  display: flex;

  align-items: center;
  margin:auto;
  img {
    transition: margin 300ms;
  }

  &:hover {
    img {
      margin-right: 10px;
      margin-left: 15px;
    }
  }
}
.text-demo{
    margin-top: 2px;
    margin-left: 1%;
    font-size: 2em;
}
.separator{
    height: 30vh;
}
/* footer */

.footer{
    background-color: #303036;
    height: 300px;
    position: relative;
    bottom: 0px;
    left: 0px;
}

.contact .text-demo{
    margin-left: 10px;
    color: white;
    font-size: 1.3em;
}


.footer .footer-content{
    height: 250px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex:1;
    padding: 20px;
    color: white;
}
.footer-content p{
    font-size: 1.2em;
}


.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}
/* End footer */

@media screen and (max-width:1024px){

    .nav-box{
        flex-direction: column;
        margin.bottom: 1%;
    }
    .Presentation{
        width:50%;
    }
    .video-container{
        height: 120px;
    }
    .nav-box{
        height: 75px;
    }
    .demo-text{
        font-size: 3em;
    }
    .menu img{
        width: 20px;
        height: 20px;
    }
    .face{
        width: 15%;
        max-width: 100;
    }
    .other-element{
        display: none;
    }
    .footer .footer-content{
    height: 250px;
    flex-direction: column;
}
}

@media screen and (max-width:500px){
      .video-container{
        height: 120px;
    }
}