<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/blocks.css">
    <link rel="stylesheet" type="text/css" href="/static/css/article_card.css">
    <!-- JQuery Minized -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="#" class="nav-link">
                    <span class="link-text logo-text">JICH</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                        <g class="fa-group">
                            <path fill="currentColor"
                                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                class="fa-secondary"></path>
                            <path fill="currentColor"
                                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                class="fa-primary"></path>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                    <img src="/static/images/icons/home.svg" alt="" width="50px" height="50px">
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="/static/images/icons/projects.svg" alt="" width="50px" height="50px">
                    <span class="link-text">Projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/static/templates/resume.html" class="nav-link">
                    <img src="/static/images/icons/resume.svg" alt="" width="50px" height="50px">
                    <span class="link-text">Resume</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="/static/images/icons/profile.svg" alt="" width="50px" height="50px">
                    <span class="link-text">Biography</span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <div class="dashboard">
                <div class="col">
                    <div class="video-presentation">
                        <div class="nav-box">
                            <div class="Presentation">
                                <div class="name">
                                    <p> <span>Juan Ignacio</span> <span class="lastname"
                                            style="color: #1a508b">Castaneda</span> </p>
                                    <p>Mechatronics Engineer </p>
                                </div>
                                <div class="image-profile">
                                    <img class="face" src="../../images/image3217.png">
                                </div>
                            </div>
                            <div class="other-element">
                                <h2></h2>
                            </div>
                        </div>
                        <div class="video-container">
                            <video autoplay loop muted id="video-bg">
                                <source src="../../static/images/video/473287184-1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <center><img class='top2' src="../../images/bar-horizontal.svg"></center>

                    <div class="container-static">
                        <div class="main-container">
                            <div class="heading-container">
                                <h1 class="heading">Projects</h1>
                                <p class="credit">Latest projects</p>
                            </div>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="../images/cards/maryland_covid.gif" alt="rover" />
                                    </div>
                                    <div class="card-body">
                                        <div class="tags">
                                            <span class="tag tag-python">Python</span>
                                            <span class="tag tag-css">CSS</span>
                                            <span class="tag tag-js">JS</span>
                                            <span class="tag tag-sql">SQL</span>
                                        </div>

                                        <h4>
                                            Tracking Covid-19 status in Maryland - Dashboard
                                        </h4>
                                        <p>
                                            An interactive dashboard that shows the most updated Covid-19 data in the
                                            state of maryland
                                        </p>
                                        <div class="user">
                                            <img src="../../images/image3217.png" alt="user" />
                                            <div class="user-info">
                                                <h5>JICH</h5>
                                                <small>July 2021</small>
                                            </div>
                                            <div class="web-links">
                                                <a href="https://github.com/crogar/Vaccination-Distribution-Effects-on-Infection-Rates-in-Maryland"
                                                    target="_blank" class="card-link"><i class="fab fa-github"></i><span
                                                        class="card-link-text">Repository</span>
                                                </a> <br>
                                                <a href="https://marylandcovid.herokuapp.com/" target="_blank"
                                                    class="card-link"><i class="fa fa-globe"></i><span
                                                        class="card-link-text">website</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <img src="../images/cards/stockprer.gif" alt="rover" />
                                    </div>
                                    <div class="card-body">
                                        <div class="tags">
                                            <span class="tag tag-python">Python</span>
                                            <span class="tag tag-css">CSS</span>
                                            <span class="tag tag-js">JS</span>
                                            <span class="tag tag-sql">SQL</span>
                                            <span class="tag tag-tensorflow">Tensorflow</span>
                                        </div>

                                        <h4>
                                            Stock Market Predictor - Machine learning TSLM
                                        </h4>
                                        <p>
                                            Predictive model utilized to analyze, predict and validate stock market
                                            datasets using TSLM running under
                                            tensorflow and keras.
                                        </p>
                                        <div class="user">
                                            <img src="../../images/image3217.png" alt="user" />
                                            <div class="user-info">
                                                <h5>JICH</h5>
                                                <small>July 2021</small>
                                            </div>
                                            <div class="web-links">
                                                <a href="https://github.com/crogar/Stock_predictor_ML" target="_blank"
                                                    class="card-link"><i class="fab fa-github"></i><span
                                                        class="card-link-text">Repository</span>
                                                </a> <br>
                                                <a href="https://stockprer.herokuapp.com/" target="_blank"
                                                    class="card-link"><i class="fa fa-globe"></i><span
                                                        class="card-link-text">website</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <img src="../images/cards/stockprer.gif" alt="rover" />
                                    </div>
                                    <div class="card-body">
                                        <div class="tags">
                                            <span class="tag tag-python">Python</span>
                                            <span class="tag tag-css">CSS</span>
                                            <span class="tag tag-js">JS</span>
                                            <span class="tag tag-tensorflow">Tensorflow</span>
                                        </div>

                                        <h4>
                                            Tracking Covid-19 status in Maryland - Dashboard
                                        </h4>
                                        <p>
                                            An interactive dashboard that shows the most updated Covid-19 data in the
                                            state of maryland
                                        </p>
                                        <div class="user">
                                            <img src="../../images/image3217.png" alt="user" />
                                            <div class="user-info">
                                                <h5>JICH</h5>
                                                <small>July 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <img src="../images/cards/d3_scatter.gif" alt="rover" />
                                    </div>
                                    <div class="card-body">
                                        <div class="tags">
                                            <span class="tag tag-html">HTMl</span>
                                            <span class="tag tag-css">CSS</span>
                                            <span class="tag tag-js">JS</span>
                                            <span class="tag tag-python">D3</span>
                                        </div>

                                        <h4>
                                            Responsive and interactive scatter Plot using D3
                                        </h4>
                                        <p>
                                            This Scatter plot created using d3 library, contains multilabels in both, x
                                            and Y axis. It has the capability of
                                            resizing its dimensions baseds on screen's width and length.
                                        </p>
                                        <div class="user">
                                            <img src="../../images/image3217.png" alt="user" />
                                            <div class="user-info">
                                                <h5>JICH</h5>
                                                <small>July 2021</small>
                                            </div>
                                            <div class="web-links">
                                                <a href="https://github.com/crogar/D3-Challenge"
                                                    target="_blank" class="card-link"><i class="fab fa-github"></i><span
                                                        class="card-link-text">Repository</span>
                                                </a> <br>
                                                <a href="https://crogar.github.io/d3_multiaxis_scatterplot/"
                                                    target="_blank" class="card-link"><i class="fa fa-globe"></i><span
                                                        class="card-link-text">website</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <img src="../images/cards/js_filters.gif" alt="rover" />
                                    </div>
                                    <div class="card-body">
                                        <div class="tags">
                                            <span class="tag tag-css">CSS</span>
                                            <span class="tag tag-js">JS</span>
                                            <span class="tag tag-html">HTML</span>
                                        </div>

                                        <h4>
                                            Filtering JS data objects with d3 and JQuery
                                        </h4>
                                        <p>
                                            Simple Algorithm that allows the user to apply multiple filters on a JS
                                            object.
                                        </p>
                                        <div class="user">
                                            <img src="../../images/image3217.png" alt="user" />
                                            <div class="user-info">
                                                <h5>JICH</h5>
                                                <small>February 2021</small>
                                            </div>
                                            <div class="web-links">
                                                <a href="https://github.com/crogar/js_multiple_filters.git"
                                                    target="_blank" class="card-link"><i class="fab fa-github"></i><span
                                                        class="card-link-text">Repository</span>
                                                </a> <br>
                                                <a href="https://crogar.github.io/js_multiple_filters/" target="_blank"
                                                    class="card-link"><i class="fa fa-globe"></i><span
                                                        class="card-link-text">website</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="filler"></div>
    </main>

</body>

</html>