<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Resume</title>

	<!-- Our CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/blocks.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cards.css">
	<!-- JQuery Minized -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
		integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>

<body>
	<nav class="navbar">
		<ul class="navbar-nav">
			<li class="logo">
				<a href="#" class="nav-link">
					<span class="link-text logo-text">JICH</span>
					<svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right"
						role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
						class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
						<g class="fa-group">
							<path fill="currentColor"
								d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
								class="fa-secondary"></path>
							<path fill="currentColor"
								d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
								class="fa-primary"></path>
						</g>
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a href="../../index.html" class="nav-link">
					<img src="/static/images/icons/home.svg" alt="" width="50px" height="50px">
					<span class="link-text">Home</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/datasets" class="nav-link">
					<img src="/static/images/icons/projects.svg" alt="" width="50px" height="50px">
					<span class="link-text">Projects</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<img src="/static/images/icons/resume.svg" alt="" width="50px" height="50px">
					<span class="link-text">Resume</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<img src="/static/images/icons/profile.svg" alt="" width="50px" height="50px">
					<span class="link-text">Biography</span>
				</a>
			</li>
		</ul>
	</nav>
	<main>
		<div class="container">
			<div class="dashboard">
				<div class="col">
					<div class="video-presentation">
						<div class="nav-box">
							<div class="Presentation">
								<div class="name">
									<p> <span>Juan Ignacio</span> <span class="lastname"
											style="color: #1a508b">Castaneda</span> </p>
									<p>Mechatronics Engineer </p>
								</div>
								<div class="image-profile">
									<img class="face" src="../../images/image3217.png">
								</div>
							</div>
							<div class="other-element">
								<h2></h2>
							</div>
						</div>
						<div class="video-container">
							<video autoplay loop muted id="video-bg">
								<source src="../../static/images/video/473287184-1.mp4" type="video/mp4">
							</video>
						</div>
					</div>
					<center><img class='top2' src="../../images/bar-horizontal.svg"></center>

					<div class="container-static">
						<div class="main-container">
							<div class="heading-container">
								<h1 class="heading">Resume</h1>
								<p class="credit">See Resume</p>
							</div>
							<div class="card-container">
								<div class="card card-1">
									<div class="card__icon"><i class="fab fa-google-drive"></i></div>
									<h2 class="card__title">Latest version of my Resume hosted on Google Drive.
									</h2>
									<p class="card__apply"><a target="_blank"
											href="https://docs.google.com/document/d/1pdfssT1a3jztfd-CEw6Yhgjbeb3KrzsimAGRYJkIP9Y/edit?fbclid=IwAR0SetwSThZ5oDjDNdSE4oCTL5XYgNNEUVi2l15DSuZCiRkkL5VkJPMO77s#">
											Visit website <i class="fas fa-arrow-right"></i></a>
									</p>
								</div>
								<div class="card card-2">
									<div class="card__icon"><i class="fas fa-bolt"></i></div>
									<p class="card__exit"><i class="fas fa-times"></i></p>
									<h2 class="card__title">Sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua.</h2>
									<p class="card__apply"><a href="#">Visit website <i
												class="fas fa-arrow-right"></i></a>
									</p>
								</div>
								<div class="card card-3">
									<div class="card__icon"><i class="fas fa-bolt"></i></div>
									<p class="card__exit"><i class="fas fa-times"></i></p>
									<h2 class="card__title">Ut enim ad minim veniam.</h2>
									<p class="card__apply"><a href="#">Visit website <i
												class="fas fa-arrow-right"></i></a>
									</p>
								</div>
								<div class="card card-4">
									<div class="card__icon"><i class="fas fa-bolt"></i></div>
									<p class="card__exit"><i class="fas fa-times"></i></p>
									<h2 class="card__title">Quis nostrud exercitation ullamco laboris nisi.</h2>
									<p class="card__apply"><a href="#">Visit website <i
												class="fas fa-arrow-right"></i></a>
									</p>
								</div>
								<div class="card card-5">
									<div class="card__icon"><i class="fas fa-bolt"></i></div>
									<p class="card__exit"><i class="fas fa-times"></i></p>
									<h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.
									</h2>
									<p class="card__apply"><a href="#">Visit website <i
												class="fas fa-arrow-right"></i></a>
									</p>
								</div>
								<div class="card card-1">
									<div class="card__icon"><i class="fas fa-bolt"></i></div>
									<p class="card__exit"><i class="fas fa-times"></i></p>
									<h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</h2>
									<p class="card__apply"><a href="#">Visit website <i
												class="fas fa-arrow-right"></i></a>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		<div class="filler"></div>
	</main>

</body>

</html>